/* ========== ШРИФТЫ =========== */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("ptsans"),
    url("fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("ptsansbold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsbold.woff2") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src:
    local("cuprum"),
    url("fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src:
    local("cuprumbold"),
    url("fonts/cuprumbold.woff") format("woff"),
    url("fonts/cuprumbold.woff2") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src:
    local("cuprumitalic"),
    url("fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src:
    local("cuprumbolditalic"),
    url("fonts/cuprumbolditalic.woff") format("woff"),
    url("fonts/cuprumbolditalic.woff2") format("woff");
}

/*===========================================*/


body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

/* ==================================================================================== INDEX ============================================================ */

/* =================== МЕНЮ ========================= */


header {
  background: #f1f5f7;
}

.top-menu {
  background: #293449;
}

.wrapper--nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.logo__title {
  display: block;
  width: 220px;
  padding: 10px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo__title:hover {
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo__title:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.top-menu__search {
  position: relative;
  width: 270px;
}

.form-search__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-search {
  position: absolute;
  top: 11px;
  left: 22px;
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
  z-index: 5;
}

.top-menu__search:hover .icon-search,
.top-menu__cart-item:hover .icon-bookmark,
.top-menu__cart-item:hover .icon-basket {
  opacity: 1;
}

.form-search__input {
  width: 100%;
  height: 44px;
  padding: 12px 0 12px 49px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background: #293449;
  border: none;
  outline: none;
}

.top-menu__cart {
  flex-grow: 2;
}

.top-menu__cart-list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  color: #000000;
}

.top-menu__cart-item {
  width: 130px;
  padding-top: 13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.top-menu__cart-item:nth-child(2) {
  width: 151px;
}

.top-menu__cart-item--color {
  background: #ee3643;
}

.top-menu__cart-item--color:hover {
  background: #ca2c37;
}

.top-menu__cart-item--color:active {
  background: #ba2732;
}

.top-menu__cart-item:last-child {
  width: 150px;
  background: #63a63e;
}

.top-menu__cart-item-link span {
  margin-right: 14px;
  opacity: 0.3;
}

.top-menu__cart-item:hover,
.form-search__input:hover {
  background: #212a3a;
}

.form-search__input:focus,
.form-search__input:active{
  color: #000000;
  background: #ffffff;
}


 .form-search__input:focus+.icon-search {
  color: #ee3643;
  opacity: 1;
}

.top-menu__cart-item:active {
  color: #8b8e94;
  background: #161d29;
}

.top-menu__cart-item:last-child:hover {
  background: #5fbb2d;
}

.top-menu__cart-item:last-child:active {
  color: #7ba265;
  background: #518534;
}

.user-menu {
  display: flex;
  margin-top: 46px;
  margin-bottom: 26px;
  justify-content: space-between;
}

.user-menu__slogan {
  width: 320px;
}

.user-menu__slogan-text {
  width: 196px;
  margin-left: 52px;
  margin-top: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.user-menu__contacts {
  width: 271px;
}

.user-menu__contacts-tel {
  margin: 0;
  padding: 6px 0;
  font-size: 21px;
  font-weight: 400;
  color: #e9292a;
  border: 4px solid #ffffff;
  box-sizing: border-box;
}

.user-menu__contacts-tel span {
  padding-right: 41px;
  color: #bbc3cb;
}

.user-menu__contacts-adress {
  margin: 0;
  padding-top: 4px;
  padding-left: 9px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.user-menu__login {
  width: 299px;
  margin-left: 51px;
}

.user-menu__login-enter {
  display: flex;
  justify-content: flex-end;
}

.user-menu__login-enter-link {
  width: 121px;
  padding: 9px 0 12px 7px;
  font-size: 21px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  box-sizing: border-box;
}

.user-menu__login-enter-link:last-child {
  width: 151px;
  margin-left: 10px;
  padding-left: 26px;
}

.user-menu__login-enter-link span {
  padding-right: 12px;
  color: #c5c5c5;
}

.user-menu__login-enter-link:hover {
  color: #ee3643;
}

.user-menu__login-enter-link:hover span,
.user-menu__login-name:hover span {
  color: #32425c;
}

.user-menu__login-enter-link:active,
.user-menu__login-enter-link:active span,
.user-menu__login-name:active span {
  color: #c5c5c5;
}

.user-menu__login-name {
  width: 299px;
  padding: 8px 0 10px;
  font-size: 21px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
}

.user-menu__login-info--hidden {
  display: flex;
}

.user-menu__login-info {
  display: flex;
  flex-wrap: wrap;
}

.icon-user {
  padding-right: 11px;
  padding-left: 5px;
  color: #c5c5c5;
}

.icon-logout {
  padding-left: 26px;
  color: #c5c5c5;
}

.user-menu__login-info-list {
  display: flex;
  margin-top: 8px;
  justify-content: flex-start;
  color: #32425c;
}

.user-menu__login-info-item {
  margin-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-decoration: underline;
}

.user-menu__login-info-item:last-child {
  margin-left: 33px;
  list-style-type: disc;
}

.user-menu__login-info-item a:hover {
  color: #ee3643;
}

.user-menu__login-info-item a:active {
  color: #c5c5c5;
}

.menu-navigation {
  min-width: 940px;
  margin-bottom: 60px;
  background: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.menu-navigation__list {
  display: flex;
  margin-left: 20px;
  margin-right: 25px;
  justify-content: space-around;
  color: #000000;
}

.menu-navigation__item {
  padding: 20px 30px 18px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.menu-navigation__item:hover {
  background: #293449;
}

.menu-navigation__item:active {
  opacity: 0.3;
}



/*====================INDEX MAIN===========================*/

.item-new::before {
  content: "new";
  position: absolute;
  width: 94px;
  top: 8px;
  left: 235px;
  padding: 5px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  background: #ee3643;
  transform: rotate(45deg);
}



.sub-menu {
  display: flex;
  margin-top: 63px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  width: 100%;
  margin-bottom: 20px;
}

.sale {
  display: flex;
  width: 300px;
  margin-left: 20px;
}

.category__list {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.category__item,
.sale__item {
  position: relative;
  width: 300px;
  padding: 20px 135px 21px 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.category__item:first-child {
  background: #f6b22d;
  background-image: url(../img/materials.png);
  background-repeat: no-repeat;
  background-position: 83%;
}

.category__item:nth-child(2) {
  background: #4aafde;
  background-image: url(../img/instr.png);
  background-repeat: no-repeat;
  background-position: 87%;

}

.category__item:last-child {
  background: #cc79d1;
  background-image: url(../img/techn.png);
  background-repeat: no-repeat;
  background-position: 87%;
}

.category__item-link,
.sale__item-link {
  display: block;
  width: 135px;
  margin-top: 14px;
  margin-left: 3px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

.sale__item:first-child {
  margin-bottom: 20px;
  background: #85d179;
  background-image: url(../img/sale.png);
  background-repeat: no-repeat;
  background-position: 81%;
}

.sale__item:last-child {
  background: #f6b22d;
  background-image: url(../img/delivery-icon.png);
  background-repeat: no-repeat;
  background-position: 85%;
}

.category__item-link:hover,
.sale__item-link:hover {
  background: #cccccc;
}

.category__item-link:active,
.sale__item-link:active {
  background: #b2b2b2;
}

/*====== SLIDER =======*/

.slider {
  position: relative;
  display: flex;
  width: 620px;
  transition: all 3s ease;
}

input[type="radio"] {
  display: none;
}

#btn-1:checked~.slider__inner .slider__inner-content:first-child,
#btn-2:checked~.slider__inner .slider__inner-content:last-child {
  display: flex;
}

.slider__inner {
  width: 100%;
}

.slider__inner-content {
  display: none;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  color: #000000;
  box-sizing: border-box;
}

.slider__inner-content:first-child {
  background: #6b5c49 url("../img/slider1.jpg") no-repeat 100%;
}

.slider__inner-content:last-child {
  background: #584e44 url("../img/slider2.jpg") no-repeat 100%;
}

.slider__title {
  width: 100%;
  margin: 25px 0 5px;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__subtitle {
  width: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.controls {
  position: absolute;
  bottom: 42%;
  display: flex;
  width: 100%;
  padding: 0 15px;
  justify-content: space-between;
  color: #000000;
  box-sizing: border-box;
}

.controls__btn label {
  font-size: 45px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.slider__link {
  width: 195px;
  margin-top: 122px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  background: #ee3643;
  box-sizing: border-box;
  cursor: pointer;
}

.slider__link:hover {
  background: #ca2c37;
}

.slider__link:active {
  background: #ba2732;
}

/*============== POPULAR ==================*/


.popular-product {
  margin-top: 52px;
}

.popular-product__title {
  display: flex;
  width: 100%;
  padding: 0 24px 0 27px;
  justify-content: space-between;
  align-items: center;
  background: #f7f3ec;
  box-sizing: border-box;
}

.popular-product__title-text {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-product__title-link {
  width: 253px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  background: #ee3643;
  box-sizing: border-box;
  cursor: pointer;
}

.popular-product__title-link:hover {
  background: #ca2c37;
}

.popular-product__title-link:active {
  background: #ba2732;
}

.popular-product__name {
  margin: 20px 0;
}

.popular-product__name-list {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-product__name-item {
  position: relative;
  width: 220px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  box-sizing: border-box;
}

.popular-product--item-new::before {
  content: "new";
  position: absolute;
  width: 97px;
  top: 8px;
  left: 152px;
  padding: 4px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background: #ee3643;
  transform: rotate(45deg);
  z-index: 5;
}

.popular-product__item-foto {
  max-width: 100%;
  height: 164px;
  line-height: 164px;
  text-align: center;
}

.popular-product__item-foto img {
  vertical-align: middle;
}

.popular-product__item-description {
  display: flex;
  min-height: 152px;
  padding: 14px 30px 19px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

.popular-product__item-title {
  margin: 0;
}

.popular-product__item-oldcost {
  margin: 0;
  color: #999999;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
}

.popular-product__item-price {
  position: relative;
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ee3643;
  border-radius: 3px;
  background: #ee3643;
  box-sizing: border-box;
  cursor: pointer;
}

.popular-product__item-price::before {
  content: "";
  position: absolute;
  background: #ee3643;
  right: 0;
  bottom: 5px;
  width: 29px;
  height: 28px;
  transform: rotate(45deg);
  z-index: 2;
}

.popular-product__item-price::after {
  content: "";
  position: absolute;
  background: #ffffff;
  right: -9px;
  bottom: -1px;
  width: 23px;
  height: 41px;
  z-index: 1;
}

.popular-product__name-item:hover,
.popular-mark__name-item:hover {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-product__name-item:hover .product__item-buy {
  display: flex;
}


.popular-mark__name {
  margin-top: 20px;
}

.popular-mark__name-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.popular-mark__name-item {
  width: 220px;
  margin-bottom: 17px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.popular-mark__name-item-title--hidden { /*прячем текст для читалок*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popular-mark__name-item-link {
  display: flex;
  height: 145px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popular-mark__name-item:active {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-mark__name-item:active a {
  opacity: 0.3;
}


/*========= SERVICE ===========*/


.service {
  margin-top: 68px;
  background: #f2f6f8;
}

.service__description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.service__description-title {
  width: 100%;
  margin: 61px 0 24px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.service__description-subtitle {
  width: 400px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.service__submenu {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 63px;
  margin-bottom: 75px;
}

#delivery:checked~.service__submenu-list .service__submenu-item:first-child,
#guarant:checked~.service__submenu-list .service__submenu-item:nth-child(2),
#credit:checked~.service__submenu-list .service__submenu-item:last-child  {
  background: #ffffff;
  border: none;
}

#delivery:checked~.service__submenu-list .service__submenu-item:first-child label,
#guarant:checked~.service__submenu-list .service__submenu-item:nth-child(2) label,
#credit:checked~.service__submenu-list .service__submenu-item:last-child label {
  font-weight: 700;
  color: #32425c;
}

.service__submenu-list .service__submenu-item {
  width: 240px;
  padding: 15px 0 15px 22px;
  color: #ffffff;
  background: #32425c;
  border-bottom: 2px solid #293449;
  border-top: 2px solid #405069;
  box-sizing: border-box;
}

.service__submenu-item:hover{
  background: #293449;
}

.service__submenu-item:hover label {
  color: #ffffff;
}

.service__submenu-item label {
  display: block;
  width: 100%;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

#delivery:checked~.service__submenu-detals .service__features:first-child,
#guarant:checked~.service__submenu-detals .service__features:nth-child(2),
#credit:checked~.service__submenu-detals .service__features:last-child {
  display: flex;
}

.service__submenu-list::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 272px;
  top: -35px;
  left: 231px;
  background: url("../img/shadow-submenu.png");
  z-index: 1;
}

.service__submenu-detals {
  width: 620px;
  margin-left: 80px;
}

.service__features {
  display: none;
  width: 100%;
  min-height: 214px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.service__features-title {
  width: 100%;
  margin: 0;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.service__features-description {
  width: 280px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.service__features-description--text {
  width: 362px;
}

.service__features--img-car {
  background: url(../img/delivery.png) no-repeat 100% -60%;
}

.service__features--img-medal {
  background: url(../img/guarantee.png) no-repeat 100% 0;
}

.service__features--img-money {
  background: url(../img/credit.png) no-repeat 100% 0;
}

/*============ INFO ================*/

.info {
  display: flex;
  width: 940px;
  margin-top: 46px;
  margin-bottom: 86px;
  justify-content: space-between;
}

.about-us {
  display: flex;
  width: 520px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-us__title,
.contacts__title {
  width: 100%;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.about-us__description,
.about-us__delivery,
.contacts__description {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.about-us__delivery {
  width: 385px;
  margin-top: 25px;
}

.about-us__delivery-list {
  width: 100%;
  margin-top: 20px;
}

.about-us__delivery-item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.about-us__delivery-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fb565a;
}
.about-us__link {
  display: inline-block;
  width: 220px;
  margin-top: 16px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  box-sizing: border-box;
}

.about-us__link:hover,
.contacts__popup:hover {
  background: #ca2c37;
}

.about-us__link:active,
.contacts__popup:active {
  background: #ba2732;
}

.contacts {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contacts__title {
  margin-bottom: 0;
}

.contacts__map {
  width: 100%;
  height: 160px;
  background: #f1efe8 url("../img/map-mini.jpg") no-repeat 100%;
}

.contacts__popup {
  display: inline-block;
  width: 300px;
  padding: 10px 0;
  align-self: flex-end;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  box-sizing: border-box;
}


/*===================================================*/



/*==================FOOTER===========================*/


.footer-top {
  background: #32425c;
}

.footer-top__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo__title--footer {
  height: 63px;
  font-size: 30px;
  line-height: 120%;
  padding: 15px 0;
  box-sizing: border-box;
}

.footer-top__menu-nav {
  margin-top: 38px;
}

.footer-top__menu-list {
  display: flex;
  width: 547px;
  justify-content: flex-end;
}

.footer-top__menu-item {
  margin-right: 59px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.footer-top__menu-item:last-child,
.footer-top__submenu-item:last-child {
  margin-right: 0;
}

.footer-top__submenu {
  display: flex;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.footer-top__adress {
  width: 322px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

}

.footer-top__submenu-list {
  display: flex;
  width: 525px;
  justify-content: flex-end;
}

.footer-top__submenu-item {
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}

.footer-top__menu-item-link:hover,
.footer-top__submenu-item-link:hover {
  text-decoration: underline;
}

.footer-top__menu-item-link:active,
.footer-top__submenu-item-link:active {
  opacity: .5;
  text-decoration: none;
}

.footer-bottom {
  padding: 20px 0;
  background: #293449;
}

.footer-bottom__copyright {
  width: 232px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.footer-bottom__copyright-text {
  color: #ffffff;
}

.footer-bottom__social {
  display: flex;
  width: 135px;
  margin-left: 70px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.footer-bottom__social-link {
  display: block;
  width: 42px;
  height: 42px;
  font-size: 0;
  text-align: center;
  border-radius: 50%;
  background: #212a3a;
}

.footer-bottom__social-link:hover,
.footer-bottom__social-link:active {
  background: #ee3643;
}

.footer-bottom__social-link span {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.footer-bottom__feedback {
  width: 137px;
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.footer-bottom__feedback-text {
  margin: 0;
  color: #ffffff;
}

.footer-bottom__feedback-mail {
  color: #ffd180;
}

.footer-bottom__developer {
  width: 100px;
  align-self: center;
}

.footer-bottom__developer-text {
  margin: 0;
  color: #ffffff;
}

.footer-bottom__developer-link {
  color: #ffd180;
}

.footer-bottom__feedback-mail:hover,
.footer-bottom__developer-link:hover {
  text-decoration: underline;
}

.footer-bottom__feedback-mail:active,
.footer-bottom__developer-link:active {
  text-decoration: none;
  color: #ee3643;
}

/*===================================================*/
/* ======================================================================================================================================================= */



/*=============================================Catalog=================================================================================================*/


/*=========BREADCRUMBS================*/

.breadcrumbs {
  margin: 23px 0;
}

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.breadcrumbs__item {
  margin-left: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbs__item:first-child {
  margin-left: 0;
}


.icon-home {
  font-size: 16px;
  line-height: 20px;
  color: #c1c6ce;
}

.icon-next {
  margin-left: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #c1c6ce;
}

.breadcrumbs__item-text--hidden { /*прячем текст для читалок*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*===================ASIDE================================*/

.catalog__title {
  width: 100%;
  margin-bottom: 20px;
  background: #f2f6f8;
}

h1 {
  margin: 0;
  padding: 32px 0 35px 31px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.filter {
  width: 220px;
}

.filter__title {
  margin: 0;
  padding: 15px 0 15px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: #f7f3ec;
}

.filter__price-title,
.filter__mark-title,
.filter__type-title {
  margin: 22px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__price {
  border-bottom: 1px solid #e5e5e5;
}

.filter__price-range-controls {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding: 39px 20px 0;
  margin-bottom: 10px;
  background: #f7f3ec;
  border-radius: 5px;
  box-sizing: border-box;
}

.filter__price-range-scale {
  height: 2px;
  background: #d7dcde;
}

.filter__price-range-scale-bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.filter__price-range-toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__price-range-toggle--min {
  left: 20px;
}

.filter__price-range-toggle--max {
  left: 161px;
}

.filter__price-range-cost label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.filter__price-range-cost {
  margin-bottom: 25px;
  font-size: 0;
}

.filter__price-range-cost input {
  width: 95px;
  padding: 14px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-range-cost-min input {
  margin-right: 9px;
}

.price-range-cost-max input{
  margin-left: 13px;
}

.filter__mark {
  border-bottom: 1px solid #e5e5e5;
}

.filter__mark-list {
  margin-bottom: 20px;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="checkbox"]+label:hover::before,
input[type="radio"]+label:hover::before,
input[type="radio"]:checked+label:hover::after {
  color: #b5b5b5;
  border-color: #b5b5b5;
}

input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
  opacity: .4;
}

input[type="checkbox"]+label::before {
  content: "\2610";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}

input[type="checkbox"]:checked+label::before {
  content: "\2611";
}

input[type="radio"]+label::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 17px;
  top: 0;
  left: 0;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

input[type="radio"]:checked+label::after{
  content: "\25cf";
  position: absolute;
  top: 1px;
  left: 7px;
  color: #c1c1c1;
}

input[type="checkbox"] {
  display: none;
}

.filter__type {
  margin-bottom: 76px;
}

.filter__type-item {
  font-size: 14px;
}

.btn {
  width: 140px;
  padding: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  border-color: #bdc6ca;
}

.btn:active {
  border-color: #ee3643;
}

.catalog__content {
  width: 700px;
}


/*===============SORTING=================*/

.sorting {
  display: flex;
  width: 100%;
  padding: 12px 0;
  justify-content: space-between;
  background: #f7f3ec;
}

.sorting__title {
  width: 105px;
  padding-left: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting__menu {
  display: flex;
  width: 360px;
  margin-left: 120px;
  margin-right: 45px;
  justify-content: space-between;
}

.sorting__menu-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #acaaa5;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sorting__menu-item .sorting__menu-item-link--active,
.sorting__menu-item .sorting__menu-item-link--active:hover  {
  color: #ee3643;
  border: none;
}

.sorting__menu-item a:hover {
  border-bottom-style: solid;
  color: #000000;
}

.sorting__menu-item a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting__sign {
  display: flex;
  width: 60px;
  margin-right: 15px;
  justify-content: space-between;
}

.sorting__sign-item {
  position: relative;
  font-size: 23px;
}

.sorting__sign-link {
  color: #c6c2bd;
}

.sorting__sign-link:hover {
  color: #000000;
}

.sorting__sign-link:active {
  color: #ee3643;
}

.sorting__sign-link span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sorting__sign-link--active {
  color: #ee3643;
}

.icon-up::before {
  content: "\25b2";
  vertical-align: top;
}

.icon-down::before {
  content: "\2c5";
  vertical-align: top;
}

/*==============PRODUCT====================*/

.product__list {
  display: flex;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 52px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  position: relative;
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.product__list li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.product__item-info-foto {
  height: 180px;
  line-height: 180px;
  text-align: center;
}

.product__item-info-foto img {
  vertical-align: middle;
}

.product__item-info-description {
  display: flex;
  min-height: 149px;
  padding: 0 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

.product__item-info-name {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.product__item-info-oldcost {
  width: 100%;
  margin: 18px 0 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.product__item-info-price {
  position: relative;
  display: inline-block;
  width: 135px;
  margin: 0;
  padding: 10px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ee3643;
  border-radius: 3px;
  background: #ee3643;
  box-sizing: border-box;
  cursor: pointer;
}

.product__item-info-price::before {
  content: "";
  position: absolute;
  background: #ee3643;
  right: 0;
  bottom: 5px;
  width: 29px;
  height: 28px;
  transform: rotate(45deg);
  z-index: 2;
}

.product__item-info-price::after {
  content: "";
  position: absolute;
  background: #ffffff;
  right: -9px;
  bottom: -1px;
  width: 23px;
  height: 41px;
  z-index: 1;
}

.product__item-buy {
  display: none;
  position: absolute;
  width: 185px;
  min-height: 105px;
  top: 10%;
  left: 8%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background: #ffffff;
}

.product__item:nth-child(3) .product__item-buy,
.product__item:hover .product__item-buy {
  display: flex;
}

.product__item-buy-link {
  position: relative;
  width: 136px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.product__item-buy-link--cart {
  margin-bottom: 8px;
  color: #ffffff;
  background: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
}

.product__item-buy-link--cart::before {
  content: "\62";
  position: absolute;
  top: 10px;
  left: 15px;
  font-family: "symbols-technomart";
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

.product__item-buy-link--bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.product__item:hover {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product__item-buy-link--cart:hover {
  background: #5fbb2d;
}

.product__item-buy-link--cart:active {
  background: #518534;
}

.product__item-buy-link--cart:hover::before,
.product__item-buy-link--cart:active::before{
  opacity: 1;
}

.product__item-buy-link--bookmarks:hover {
  border-color: #32425c;
}
.product__item-buy-link--bookmarks:active {
  opacity: 0.3;
}

/*=============PAGINATION========================*/

.pagination__list {
  display: flex;
  width: 700px;
  margin-left: 240px;
  justify-content: flex-start;
}

.pagination__item {
  width: 38px;
  margin-right: 10px;
  padding: 14px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination__item--next {
  width: 140px;
  margin-right: 0;
}

.pagination__item--active {
  color: #ffffff;
  background: #ee3643;
  border: none;
}

.pagination__item:hover {
  border-color: #bdc6ca;
}

.pagination__item:active {
  border-color: #ee3643;
}


/*================ABOUT-PRODUCT===================*/

.about-product {
  margin-top: 60px;
  background: #f2f6f8;
}

.about-product__title {
  margin-top: 67px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-product__text {
  margin: 36px 0 67px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}


/*======================  ICONS  =======================================*/


@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


/*=======================================================================*/
